* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
   /* overflow-x: hidden; */
   font-family: SST, helvetica, arial, sans-serif;
}

a {
   text-decoration: none;
}


.container {
   width: 87%;
   margin: auto;
}

.container2 {
   width: 84%;
   margin: auto;
}

/* starter  */
.black-sony {
   background-color: black;
   height: 36px;
}

.black-sony img {
   width: 75px;
   height: 100%;
   float: right;
   margin: 0 8px;
}

.navigation-bar {
   height: 64px;
   display: flex;
   align-items: center;
   z-index: 200;
}

.navbar {
   background-color: #fff;
   position: sticky;
   top: 0;
   z-index: 199;
}

.ps-logo {
   padding: 0 20px;
}

/* .ps-logo img{
   height:34px;
   width: 34px;
   
} */
.dd-nav-bar {
   display: flex;
   align-items: start;
}

.dd-nav-bar ul {
   display: flex;

}

.dd-nav-bar ul li {
   list-style-type: none;
   padding: 0 10px;
}

.dd-nav-bar a {
   font-family: SST, helvetica, arial, sans-serif;
   color: #000;
   font-size: 14px;
}

.down-a {
   color: #000;
}

.dd-nav-bar a:hover,
.down-a:hover {
   color: #0070CC;
}

.right-side-nav {
   /* margin-bottom: 8px; */
   display: block;
   margin-left: auto;
   margin-right: 20px;
}

.right-side-nav button {
   background-color: #0070CC;
   border: none;
   border-radius: 15px;
   padding: 2px 4px 2px 10px;
   margin-right: 15px;
   text-align: center;
}

.right-side-nav button:hover{
   background-color: #00439C;
}

.right-side-nav span {
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0.4px;
   margin-right: 8px;
   cursor: pointer;

}

.right-side-nav i {
   margin-left: 14px;
   color: #000;
}

.banner-img {
   width: 100%;
   object-fit: cover;
}

/* header starts */

header {
   background-image: url('images/banner1.webp');
   height: 570px;
   background-size: cover;
}

.header-game-img img {
   width: 420px;

}

.header-game-img {
   width: 100%;
   height: 100%;
}

.header-main-container {
   display: flex;
   flex-direction: column;
   padding: 150px  0 0 0;
}

.header-lower-section {
   display: flex;
   flex-direction: column;
   padding-right: 800px;
}

.header-game-title h2 {
   font-size: 40px;
   font-weight: 200;
   color: #fff;
   margin-top: 20px;
}

.header-game-title p {
   color: #fff;
   margin: 20px 0;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   font-family: SST, helvetica, arial, sans-serif;
}

.header-game-btn {
   margin: 4px 0;
   padding: 2px 0;
}

.header-game-btn a {
   background-color: #fff;
   border: none;
   border-radius: 32px;
   padding: 12px 16px;
   cursor: pointer;
}

.header-game-btn a:hover{
   background-color: #e0e0e0;
}

.header-game-btn span {
   color: #000;
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   line-height: 16px;
}

/* header ends */

/* section-1 flexbox starts*/

.slider-wrapper-section-1 {
   display: flex;
   gap: 15px;
   padding: 40px 0;
   cursor: pointer;
}

.sec-1-img img {
   opacity: 0.5;
   transition: opacity 0.25s;
   width: 100%;
   border-radius: 18px;
}

.sec-1-img img:hover {
   opacity: 100;
   transform:scale(1.02);
   transition: transform 0.25s;
}

.sec-1-img-1:nth-child(1){
   opacity:1;
}

/* section-1 felxbox ends */

/* section-2 satrts */

.section-2 {
   margin-bottom: 32px;

}

.sec-2-container {
   display: grid;
   grid-template-columns: 1fr 2fr;
   column-gap: 32px;
}

.section-2-left {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.section-2-left h3 {
   font-family: sst, Arial, sans-serif;
   font-size: 30px;
   font-weight: 300;
   line-height: 32px;
}

.section-2-left p {
   font-family: sst, Arial, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   margin-top: 16px;
   margin-bottom: 32px;
   color: #000;
   opacity: 0.7;
}

.section-2-btn {
   margin: 4px;
   padding: 2px;
}

.section-2-btn button {
   background-color: #0070CC;
   padding: 12px 16px;
   border: none;
   border-radius: 32px;
   cursor:pointer;
}
.section-2-btn button:hover{
   background-color: #00439C;
}


.section-2-btn span {
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   line-height: 16px;
}

.section-2-right {
   width: 858px;
   height: 686px;

}

.section-2-right img {
   width: 100%;
   height: 100%;
   z-index: 50;
   object-fit: cover;
}


/* section-2 ends */


/* sectio-3 starts */

.section-3 {
   display: flex;
}

.slider-wrapper-section-3 {
   display: flex;
   gap: 13px;
   padding-bottom: 45px;
   justify-content: center;

}

.sec-3-box {
   cursor: pointer;
}

.sec-3-box:nth-child(1) {
   border: 2px solid #0070CC;
   border-radius: 18px;
}

.sec-3-img-1:nth-child(1) {
   opacity:1;
}

.sec-3-box img {
   object-fit: contain;
   padding: 18px 18px 0 18px;
   height: 118px;
   width: 210px;
   opacity: 0.5;
   transition: opacity 0.25s;
}

.sec-3-box img:hover {
   opacity: 1;
   transform: scale(1.05);
   transition: transform 0.25s;
}

.sec-3-box span {
   font-size: 16px;
   font-weight: 400;
   width: 100%;
   display: flex;
   justify-content: center;
   text-align: center;
   color: rgb(31, 31, 31);
   line-height: 24px;
   margin: 9px 0;

}

/*  section-4 starts */

.section-4 {
   background-image: url("images/2ndbanner.webp");
   background-size: cover;
}

.wrapper-section-4 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 32px;
   row-gap: 48px;
   padding-top: 30px;
}

.left-side-container {
   display: flex;
   justify-content: center;
   width: 100%;
}

.sec-4-left-grid {
   padding: 54px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.left-grid-img img {
   width: 330px;
   height: 73px;
   margin-bottom: 30px;
}

.sec-4-head p {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 32px;

}

.sec-4-btn button {
   background-color: #0070CC;
   border: none;
   padding: 12px 16px;
   border-radius: 32px;
   line-height: 20px;
   cursor:pointer;
}

.sec-4-btn button:hover{
   background-color: #00439C;
}

.sec-4-btn span {
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   line-height: 16px;

}

.right-side-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.right-grid-img img {

   width: 80%;
   height: 100%;
   padding-bottom: 50px;
   align-items: center;
   margin-left: 50px;

}


/*  section-5 starts */
.section1-5 {
   background-image: url("images/sec-5-bg-img.webp");
   background-size: cover;
   padding: 54px;
   width: 100%;

}

.wrapper-section1-5 {
   display: grid;
   grid-template-columns: 1fr;
   margin-bottom: 60px;
   margin-left: 40px;

}

.sec-5-btn button {
   background-color: #fff;
   border: none;
   border-radius: 36px;
   padding: 14px 18px;
   cursor:pointer;
}

.sec-5-btn button:hover{
   background-color: #e0e0e0;
}

.sec-5-btn button span {
   font-size: 18px;
   font-weight: 600;
   line-height: 18px;

}

.sec-5-heading {
   margin-right: 300px;
   padding-right: 300px;
   margin-bottom: 32px;
}

.sec-5-heading h2 {
   color: #fff;
   font-size: 43px;
   font-weight: 200;
   line-height: 55px;
}

.sec-5-heading h2 b {
   color: #fff;
   font-size: 43px;
   line-height: 65px;
   font-weight: 700;
}

.sec-5-heading p {
   color: #c9c7c7;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   margin-top: 16px;
}

.section2-5 {
   background-color: rgb(38, 37, 79);
   width: 100%;
   height: 50vh;
}

.wrapper-section2-5 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 48px;
}

.sec-5-img-box {
   display: flex;
   width: 100%;
   /* height:211px; */
   margin-bottom: 32px;
   justify-content: center;
   align-items: center;
}

.sec-5-img-box img {
   width: 100%;
   border-radius: 18px;
   transition: all .2s ease-in-out;
}

.sec-5-img-box img:hover {
   transform: scale(1.02);
   box-shadow: #000;
   transition: transform 0.25s;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

.sec-5-heads h4 {
   color: #fff;
   font-size: 25px;
   font-weight: 400;
   line-height: 32px;
   text-align: center;
}

/* section-5 ends */

/* section-6 starts */

.section-6 {
   background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0)), url('images/sec-6-bg-img.webp');
   /* background-image: url("new/sec-6-bg-img.webp"); */
   height: 560px;
   background-size: cover;
}

.sec-6-main-container {
   display: flex;
   flex-direction: column;
   align-items: start;
   padding-top: 150px;
}

.sec-6-img img {
   width: 413px;
   height: 114px;

}

.sec-6 h3 {
   color: #fff;
   font-size: 40px;
   font-weight: 300;
   line-height: 48px;
   margin-top: 14px;

}

.sec-6 p {
   color: #fff;
   margin-top: 16px;
   margin-bottom: 32px;
   line-height: 25px;
}

.sec-6-btn {
   margin: 4px;
   padding: 2px;
}

.sec-6-btn button {
   background-color: rgb(236, 71, 5);
   border: none;
   padding: 12px 16px;
   border-radius: 32px;
   cursor:pointer;
}

.sec-6-btn button:hover{
   background-color: rgb(214, 61, 0);
}

.sec-6-btn span {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   line-height: 16px;
}

/* section-6 ends */


/* section-7 starts */

.section-7 {
   background-color: #121314;
   height: 90vh;
}

.sec-7-container1 {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 32px;
   row-gap: 80px;
   padding-top: 32px;


}

.sec-7-title h3 {
   color: #fff;
   padding-top: 32px;
   margin-bottom: 8px;
   font-size: 18px;
   font-weight: 700;
   line-height: 28px;
}

.sec-7-title h5 {
   color: #fff;
   font-size: 20px;
   font-weight: 400;
   line-height: 25px;


}

.sec-7-imgs {
   width: 185px;
   height: 185px;
   border-radius: 10px;
}

.sec-7-imgs img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   transition: all .2s ease-in-out;
   cursor: pointer;
}

.sec-7-imgs img:hover {
   transform: scale(1.02);
   transition: transform 0.25s;
}

.sec-7-head {
   margin: 12px 8px 0 8px;
}

.sec-7-imgs a {
   text-decoration: none;
   color: #fff;

}

/* section-7 ends */

/* section-8-starts */
.section-8 {
   margin-bottom: 64px;
}

.sec-8-main-container {
   padding: 0 16px 32px 16px;
}

.sec-8-upper {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 48px;
   padding-bottom: 64px;
}

.sec-8-upper-title h2 {
   font-family: sst, Arial, sans-serif;
   font-size: 40px;
   font-weight: 300;
   line-height: 40px;

}

.sec-8-upper p {
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   font-family: sst, Arial, sans-serif;
   margin-top: 16px;
   line-height: 30px;
   color: #000;
   opacity: 0.7;
}

.sec-8-lower-section {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   grid-gap: 30px;
   ;
}

.sec-8-img-box {
   width: 386px;
   height: 218px;
}

.sec-8-img-box img {
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.sec-8-img-title {
   align-items: center;
}

.sec-8-container {
   display: flex;
   flex-direction: column;
   align-items: start;
}

.sec-8-img-title h2 {
   font-size: 40px;
   font-weight: 300;
   font-family: sst, Arial, sans-serif;
   line-height: 48px;

}

.sec-8-sub-head p {
   font-size: 20px;
   font-weight: 400;
   color: #000;
   opacity: 0.7;
   line-height: 30px;
   margin-top: 16px;
   margin-bottom: 32px;
}

.sec-8-btn-box button {
   background-color: #0070CC;
   border-radius: 32px;
   padding: 12px 16px;
   margin: 4px;
   border: none;
   cursor:pointer;
}

.sec-8-btn-box button:hover{
background-color: #00439C;
}

.sec-8-btn-box span {
   font-size: 16px;
   font-weight: 600;
   line-height: 16px;
   color: #fff;
}

/* section-8 ends */

/* section-9 starts */


.sec-9-main-container {
   display: grid;
   grid-template-columns: 1fr 1.4fr;
   grid-column-gap: 26px;
   margin-bottom: 64px;
}

.sec-9-left-grid {
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.sec-9-left-conatiner {
   padding: 24px 24px 0 24px;
}

.sec-9-ps5-logo {
   height: 64px;
   width: 300px
}

.sec-9-ps5-logo img {
   width: 100%;
   height: 100%;
}

.sec-9-img-container {
   width: 874px;
   height: 492px;

}

.sec-9-img-container img {
   width: 100%;
   height: 100%;
   border-radius: 12px;
}

.sec-9-head {
   margin-bottom: 16px;
   font-size: 39px;
   font-weight: 300;
   line-height: 48px;
   letter-spacing: 0.1px;
   text-align: left;
}

.sec-9-sub-head {
   color: #000;
   opacity: 0.7;
   font-size: 16px;
   font-weight: 400;
   font-family: sst, Arial, sans-serif;
   line-height: 24px;
   letter-spacing: 0.1px;
   margin-bottom: 32px;
}

.sec-9-btn-box button {
   background-color: rgb(236, 71, 5);
   border: none;
   border-radius: 32px;
   padding: 12px 16px;
   cursor:pointer;
}

.sec-9-btn-box button:hover{
   background-color: rgb(213, 59, 0);
}

.sec-9-btn-box span {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
}


/* section-9 ends */

/* section-10 starts */

.section-10 {
   background-color: rgb(245, 247, 250);
   margin-top: 100px;
}

.sec-10-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sec-10-title span {
   font-size: 32px;
   font-weight: 300;
   color: rgb(31, 31, 31);
   line-height: 46px;
   font-family: sst, Arial, sans-serif;
}

.social-media-section {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: 0 300px;
   grid-column-gap: 30px;
   justify-content: center;
   align-items: center;
   padding: 60px 160px 160px 160px;
}

.sec-10-img-container {
   width: 118px;
   height: 118px;
}

.sec-10-img-container img {
   width: 100%;
   height: 100%;
}

.sec-10-img-container img:hover {
   transform: scale(1.02);
   transition: transform 0.25s;
}


/* section-10-ends */


/* footer section starts */

.footer-section {
   background-color: #00439C;
   padding-top: 10px;

}

.footer-logo {
   height: 48px;
   width: 272px;
   margin: 10px 0 24px 0;
}

.footer-logo img {
   height: 100%;
   width: 100%;

}

.footer-links-main-section {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   padding: 15px 0 25px 0;
   border-top: 0.01px solid #a1a1a1;
   column-gap: 20px;

}

.footer-links {
   display: flex;
   flex-direction: column;
}

.footer-links span {
   color: #fff;
   margin-bottom: 10px;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
}

.footer-links li {
   list-style: none;
   margin-bottom: 8px;
}

.footer-links li:hover {
   opacity: 0.7;
   transition: opacity 0.25s;
}


.footer-links a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
   font-weight: 400px;
   line-height: 21px;

}

.footer-sec-3 {
   padding: 16px 0;
   border-top: 0.01px solid #a1a1a1;
}

.footer-sec-3 p {
   color: #fff;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   font-family: sst, Arial, sans-serif;
}

.footer-sec-3 a {
   color: #fff;
   text-decoration: underline;

}

.footer-social-icons {
   display: flex;
   column-gap: 20px;
}

.footer-social-icons i {
   margin-top: 10px;
   margin-bottom: 15px;
}

.footer-social-icons i:hover {
   opacity: 0.7;
   transition: 0.25s;
}

.footer-sec-4 {
   display: flex;
   padding: 16px 0 12px 0;
   border-top: 1px solid #fff;
}

.footer-sec-4-left {
   display: flex;
   align-items: center;
   column-gap: 15px;
}

.footer-sec-4-left span,
i {
   color: #fff;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   cursor: pointer;
}



.footer-sec-4-right {
   display: flex;
   align-items: center;
   margin-left: auto;
   column-gap: 10px;
}

.footer-sec-4-right li {
   list-style: none;
}

.footer-sec-4-right li:hover {
   opacity: 0.7;
   transition: opacity 0.25s;
}

.footer-sec-4-right a {
   color: #fff;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   ;
}

.footer-sec-4-right span {
   color: #fff;
}